// # Color variables.

// White
$white: rgb(255, 255, 255);

// Blue
$blue: #5762D5;
$blue-dark: rgb(62, 71, 161);

// Green
$green: #69A297;
$green-dark: #27a791;

// Purple
$purple: #3c27a7;
$purple-dark: #1a1f49;

// Gray
$gray: #f3f2f1;
$gray-dark: #2f2f2f;

// Black
$black: #101028;

// Red
$red: #C95255;
$red-dark: rgb(192, 58, 62);

.text-purple {
    color: $purple;
}