// Nav
$navbar-height: 4rem;

// Buttons
$btn-border-radius: 2px;
$btn-border-width: 0px;
$btn-padding: 0.5rem;
$btn-transition-duration: 0.4s;

// Library
$library-sidebar-width: 220px;
$library-sidebar-padding: 40px;

// Responsive
$breakpoints: (
  xs: 576px,
  sm: 768px,
  md: 992px,
  lm: 1080px,
  lg: 1200px,
);
