@import "./partials/variables";
@import "./partials/colors";
@import "./partials/fonts";
@import "./partials/reset";
@import "./partials/mixins";

// # Buttons
// ## Base
.btn {
    padding: $btn-padding;
    border-radius: $btn-border-radius;
    border-color: $gray;
    background-color: $white;
    border-style: solid;
    border-width: $btn-border-width;
    transition: all $btn-transition-duration;
}

// ## Green
.btn-green {
    background-color: $green;
    color: $gray;
}

.btn-green:hover {
  background-color: $green-dark;
}

.btn-green-outline {
  background-color: transparent;
  border-color: $green;
  border-width: 2px;
}

.btn-green-outline:hover {
  background-color: $green;
}

// ## Blue
.btn-blue {
    background-color: $blue-dark;
    color: $gray;
}

.btn-blue:hover {
    background-color: $blue;
}

.btn-blue-outline {
  background-color: transparent;
  border-color: $blue;
  border-width: 2px;
}

.btn-blue-outline:hover {
  background-color: $blue;
}

// ## Red
.btn-red {
    background-color: $red-dark;
    color: $gray;
}

.btn-red:hover {
    background-color: $red;
}

// ## Purple
.btn-purple {
    background-color: $purple-dark;
    color: $gray;
}

.btn-purple:hover {
    background-color: $purple;
    border-color: $purple;
}

// ## Button variations
.btn-fluid {
  width: 100%;
}

.btn-grey:hover {
  background-color: #eeeeee;
}

a {
  text-decoration: none;
}

// Navigation
.navbar {
  position: sticky;
  width: 100%;
  height: $navbar-height;
  line-height: $navbar-height;
  background-color: #2f2f2f;
  box-shadow: 0 1px 4px 1px $black;
  z-index: 1;
}

.navbar-mobile {
  height: inherit;
  position: fixed;
  overflow-y: auto;
}

.nav-mobile-link {
  display: block !important;
  color: #fff;
  background-color: #2f2f2f;
  padding: 0 5px;
  margin: 0 !important;
}

.nav-mobile-link:hover {
  background-color: #383838;
}

.navbar > ul {
  list-style: none;
  margin-left: 10px;
  margin-right: 10px;

  // Positioning of navbar elements
  margin: 0 auto;
  padding: 0 55px;
}

@include break-below(sm) {
  .navbar > ul {
    padding: 0 20px;
  }
}

.navbar > ul > li {
  display: inline;
  margin: 0 8px 0 8px;
}

.navbar-brand {
  font-weight: bold;
  // font-family: monospace;
  font-size: 1.5rem;
  float: left;
  text-decoration: none;
  color: white;
  margin-right: 10px;

  i {
    font-size: 24px;
  }
}

a {
    text-decoration: none;
    color: white;
}

.nav-link {
    font-weight: bold;
}

.nav-link:hover {
    border-bottom: 3px solid $green-dark;
}

.hero-content {
  padding-right: 50px;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: relative;
  height: 68vh;
  background-color: $purple;
  min-height: 300px;
  padding: 55px 55px 55px 55px;

  h1 {
    font-size: 4em;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 19px;
  }

  p {
    font-size: 1.5em;
    color: #fff;
    text-align: justify;
  }

  .hero-header-divider {
    width: 300px;
    background-color: #7876c6;
    line-height: 9px;
  }
}

@include break-below(lg) {
  .hero {
    padding-left: 50px;
    padding-right: 50px;

    h1 {
      font-size: 2.5em;
    }

    p {
      font-size: 1.5em;
    }
  }
}

@include break-below(md) {
  .hero {
    height: calc(100vh - #{$navbar-height});
  }
}

@include break-below(sm) {
  // Main section
  .hero {
    height: calc(85vh - #{$navbar-height});
    padding-left: 20px;
    padding-right: 20px;

    h1 {
      font-size: 2em;
    }

    p {
      font-size: 1em;
    }

    img {
      display: none;
    }

    .hero-content {
      padding-right: 0;
    }
  }
}

// mobile menu view
.menu-burger {
  display: none;
  height: 3.3rem;
  width: 3.3rem;
  font-size: 1.5em;
  margin: #{($navbar-height - 3.3rem) / 2};
  color: #2f2f2f;
  border-style: none;
  border-radius: 2px;
  transition: all 0.2s;
  padding: 0;
  margin-right: -10px;
}

.menu-burger:hover {
  color: $purple;
  background-color: $white;
}

@include break-below(md) {
  .navbar > ul > li:not(:first-child):not(:last-child) {
    display: none;
  }

  .menu-burger {
    display: inherit;
  }
}

// # Positioning
.fl-left {
  float: left;
}

.fl-right {
  float: right;
}

.clearfix {
  clear: both;
}

.m-0 {
  margin: 0;
}

.pl-20 {
  padding-left: 20px;
}

.pl-0 {
  padding-left: 0;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

// # Sidebar
.sidebar {
    top: $navbar-height;
    left: 0;
    bottom: 0;
    width: $library-sidebar-width;
    background-color: #ffffff;
    height: 100%;
    position: fixed;
    padding: $library-sidebar-padding;
    box-shadow: 1px 0px 3px 0px #826f6f;
}

.sibebar-hamburger {
  float: right;
}

.sidebar-header {
  font-size: 1.3rem;
  float: left;
  margin: 0;
}

// Library
.lib-content {
  margin-left: $library-sidebar-width + 2 * $library-sidebar-padding;
}

.subtitle {
  color: #4e4e4e;
} 

// Misc
hr.divider {
  border-color: #858585;
  border-style: solid;
}

.icon-fixed-width {
  width: 25px;
}

ul.menu-list > li {
  list-style: none;
}

ul.menu-list > li > button {
  margin: 1px 0px;
}

// Features list
.card {
  background-color: rgb(255, 255, 255);
  padding: 15px;
  margin: 5px 0 5px 0;
  transition: all 0.4s;
  border: 2px solid rgb(255, 255, 255);
}

.card > h4 {
  color: $purple;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 1.5rem;
}

.card > p {
  @extend .subtitle;
}

.card:hover {
  border-color: $purple;
}

.features-list {
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  background-color: #dbdbdb;
  padding: 5px 50px;
  column-gap: 10px;
}

@include break-below(sm) {
  .features-list {
    grid-template-columns: 100%;
    padding: 5px 20px;
  }

  .card {
    border-radius: 0;
  }
}

// Footer
.footer {
  background-color: #2f2f2f;
  padding: 5px;
}

// Login
.form-wrapper {
  background-color: $purple;
  height: calc(100% - 4rem);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form {
  box-sizing: border-box;
  padding: 15px 15px 5px 15px;
  border-radius: 3px;
  background-color: #fff;
  min-width: 370px;
  text-align: center;
  box-shadow: 0px 0px 12px 3px #1a1f49;
}

.login-form > h2 {
  margin: 5px;
  color: #2f2f2f;
}

.login-form > p {
  margin-top: 5px;
}

.login-form-link {
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
}

.login-form-link:hover {
  text-decoration: underline;
  text-decoration-style: dashed;
}

.input {
  display: block;
  padding: 10px;
  font-size: 1.2rem;
  width: 100%;
  margin-bottom: 8px;
  box-sizing: border-box;
  font-weight: 500;
  border: 1px solid #a5a5a5;
  border-radius: 2px;
}

.btn-form {
  width: 100%;
  font-size: 1.2rem;
}

@include break-below(sm) {
  .login-form {
    min-width: 100%;
    border-radius: 0px;
    box-shadow: none;
    height: inherit;
  }

  .form-wrapper {
    height: inherit;
  }
}

.divider-with-text {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000; 
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.divider-with-text span { 
  background:#fff; 
  padding: 0 10px; 
}

// Errors
.error-box {
  padding: 5px;
  border-radius: 3px;
  background-color: rgb(235, 113, 113);
  margin-bottom: 18px;
}

.error-list {
  max-width: fit-content;
  text-align: left;
}

@import "./partials/shame";